# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/DxApp
/DxApp/x64/Debug/DxApp.tlog/CL.read.1.tlog
/DxApp/x64/Debug/DxApp.tlog/link.read.1.tlog
/DxApp/x64/Debug/DxApp.ilk
/DxApp/x64/Debug/vc143.idb
/DxApp/x64/Debug/vc143.pdb
/x64/Debug/DxApp.pdb
